#about {
    .row {
        .about-title {
            color: $mainWhite;
            text-align: center;
            margin-bottom: 50px;
        }

        .about-service {
            background: $secondaryBlack;
            cursor: pointer;

            &:hover {
                background-color: $mainYellow;
                color: $secondaryBlack;
                transition: 0.3s ease;

                & a {
                    color: $secondaryBlack;
                    transition: 0.3s ease;

                    &:hover {
                        color: $secondaryBlack;
                    }
                }

                & img {
                    opacity: 0.8;
                    transition: 0.3s ease;
                }
            }

            &-content {
                padding: 40px;
            }

            & a {
                color: $mainWhite;
                transition: 0.3s ease;

                &:hover {
                    color: $mainYellow;
                    transition: 0.3s ease;
                }
            }
        }

        .card-img-overlay {
            .text-center {
                text-align: center !important;
                display: flex;
                justify-content: center;
                height: 100%;
                align-items: flex-end;
                text-shadow: 2px 2px 3px #000;
                //cursor: pointer;
            }
        }
        .text-bg-dark{
            
            background: $secondaryBlack;
            cursor: pointer;
            
            &:hover {
                background-color: $mainBlack !important;
                transition: 0.3s ease;

                & img {
                    opacity: 0.8;
                    transition: 0.3s ease; 
                }
            }
        }
    }
}

// @media (max-width: 425px){
//     #about {
//         .img-fluid{
//             width: 384px;
//         }
//     }
// }

@media (max-width: 1024px) {
    #about {
        .row {
            .about-service-content {
                padding: 20px;
                margin: auto 0;

                h5 {
                    font-size: 1.15rem;
                }

                p {
                    font-size: 0.85rem;
                }
            }
        }
    }
}

@media (max-width: 820px) {
    #about {
        .row {
            .about-service {
                .col-12 {
                    .img-fluid {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 425px) {
    #about {
        .row {
            .about-service {
                .col-12 {
                    .img-fluid {
                        width: 100%;
                    }
                }
            }
        }
    }
}