#about {
    .row {
        .about-title {
            color: $mainWhite;
            text-align: center;
            margin-bottom: 50px;
        }
        .about-service{
            background: $secondaryBlack;
            cursor: pointer;

            &:hover{
                background-color: $mainYellow;
                color: $secondaryBlack;
                transition: 0.3s ease;

                & a {
                    color: $secondaryBlack;
                    transition: 0.3s ease;

                    &:hover{
                        color: $secondaryBlack;
                    }
                }

                & img {
                    opacity: 0.8;
                    transition: 0.3s ease;
                }
            }

            &-content{
                padding: 40px;
            }

            & a {
                color: $mainWhite;
                transition: 0.3s ease;

                &:hover {
                    color: $mainYellow;
                    transition: 0.3s ease;
                }
            }
        }
    }
}