#decisionMaking {
  .row {
    .desionMaking-title {
      color: $mainYellow;
      text-align: center;
      margin-bottom: 50px;

      span {
        color: $mainWhite
      }
    }

    .desionMaking-card {
      background-color: $secondaryBlack;
      height: 40vh;
      width: 100%;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      text-align: center;
      justify-content: center;
      display: flex;
      align-content: center;
      gap: 20px;
      background: url('../../assets/images/decisionMaking/bgcards.webp');
      border: 5px solid #ffffff47;
      transition: 0.5s ease;
      cursor: pointer;

      &:hover {
        border-color: $mainYellow;
        transition: 0.5s ease;
      }

      i {
        font-size: 4rem;
        color: $mainYellow;
      }

      div{
        padding: 0 30px;
      }
    }
  }

  .button-enroll {
    padding: 20px;
    border: 5px solid #ffffff47;
    color: $mainWhite;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    border-radius: 10px;
    transition: 0.5s ease;

    &:hover{
      color: $mainYellow;
      border-color: $mainYellow;
      transition: 0.5s ease;
    }
  }
}


@media (max-width: 768px) {
  #decisionMaking {
    .row {
      justify-content: center;
    }
  }
}