#header {
    #hero {
        .navbarChanges {
            z-index: 99;
        }
        .logo {
            a {
                display: flex;
                align-items: center;
                color: $mainWhite;

                span {
                    &:nth-child(1) {
                        font-size: 3rem;
                        font-family: 'Zen Dots', cursive;
                        color: $mainYellow;
                    }

                    &:nth-child(2) {
                        font-size: 1.5rem;
                        font-family: 'Zen Dots', cursive;
                    }
                }
            }
        }

        #navbarNavAltMarkup {
            justify-content: flex-end;
        }

        .nav-link {
            color: $mainWhite;
            font-size: 20px;
            text-transform: uppercase;
            border-bottom: 5px solid $mainBlack;
            transition: 0.5s ease;
            padding: 0 15px;

            &:hover {
                border-bottom: 5px solid $mainYellow;
                transition: 0.5s ease;
            }
        }

        .caption-content {
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            text-align: left;

            h5 {
                font-size: 60px;
                text-shadow: 5px 1px 5px $mainBlack;
            }

            p {
                font-size: 32px;
                text-shadow: 5px 1px 5px $mainBlack;
            }
        }
    }
}