#schedules {
  .row {
    .schedules-title {
      color: $mainWhite;
      text-align: center;
      margin-bottom: 50px;
    }
  }

  #nav-tab {
    border: none;
    justify-content: center;
    margin-bottom: 50px;

    .nav-link {
      color: $mainWhite;
      border: none;
      border-bottom: 5px solid $mainBlack;
      text-transform: uppercase;
    }

    .nav-link.active,
    .nav-link:hover {
      background: transparent;
      color: $mainWhite;
      border: none;
      border-bottom: 5px solid $mainYellow;
    }
  }

  .schedules-table {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;

    div {
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .title-table {
      font-family: 'Poppins', sans-serif;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 700;
      opacity: 0.7;
    }

    .times-of-day {
      font-family: 'Poppins', sans-serif;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 700;
      opacity: 0.7;
    }

    .schedules-event {
      font-family: 'Poppins', sans-serif;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 700;
      opacity: 0.7;

      span{
        font-weight: normal;
        text-transform:initial;
      }
    }
    .border-left{
      border-left: 1px solid $mainWhite;
    }
    .border-right{
      border-right: 1px solid $mainWhite;
    }
    .border-top{
      border-top: 1px solid $mainWhite;
    }
    .border-left{
      border-bottom: 1px solid $mainWhite;
    }
  }
}