#video {
    position: relative;

    .row {
        .video-title {
            color: $mainWhite;
            text-align: center;
            margin-bottom: 50px;
        }
    }
}

#has-poster {
    position: relative;

    video[poster] {
        width: 100%;
        background-position: center;
    }
}

#control {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    z-index: 50;

    .hoverEvent:hover {
        opacity: 1;
    }
}

#btnVideo {
    background-color: transparent;
    border: none;
}

#videoId {
    z-index: 1;
    width: 100%;
    margin: 5% 0;
}

#text-video-center {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background-color: transparent;
    font-size: rem;
    font-weight: bold;
    text-align: center;
}