@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@400;600;700&family=Zen+Dots&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import './../colors/variablesColors.scss';
@import "./../rules/defaultMixins.scss";

// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Zen Dots', cursive;

* {
  @include reset(0, 0, border-box)
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    color: $mainWhite;
    background-color: $mainBlack;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
    font-weight: 700 !important;
    text-transform: uppercase;
}

.default-section-top-space {
  margin-top: 150px;
}

a {
  text-decoration: none;
}

.carousel-indicators {
  align-items: flex-end;

  & [data-bs-target]:hover{
    background-color: $mainYellow;
    transition: .5s ease;
  }
  .active {
    height: 6px;
  }
}

.scroll {
  overflow-y: scroll;
  display: inline-block;
}
.scroll--simple::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}
.scroll--simple::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
.scroll--simple::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}
.scroll--simple::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}
.scroll--simple::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.9);
}