@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@400;600;700&family=Zen+Dots&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import './../colors/variablesColors.scss';
@import "./../rules/defaultMixins.scss";

// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Zen Dots', cursive;

* {
  @include reset(0, 0, border-box)
}

body,
html {
    width: 100%;
    min-height: 100vh;
    color: $mainWhite;
    background-color: $mainBlack;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
    font-weight: 700 !important;
    text-transform: uppercase;
}

.default-section-top-space {
  margin-top: 150px;
}

a {
  text-decoration: none;
}

.carousel-indicators {
  align-items: flex-end;

  & [data-bs-target]:hover{
    background-color: $mainYellow;
    transition: .5s ease;
  }
  .active {
    height: 6px;
  }
}
